<footer>NodeJS, MongoDB, JWT, Cookies ve Kurtlar Vadisi bilgilerinin değerlendirildiği web sayfası</footer>

<footer>
    <% if(user) {%>
      Welcome, <%=user.email%>
    
    <% } else{%>
      Karakterleri görmek için giriş yapın,hesabınız yoksa üye olun.
      <%} %>
    </footer>
</body>
</html>
