<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/pala.png" alt="">
  </div>
  <div class="headings">
    <h2>Sadece Ölüler Görür</h2>
    <h3>Adı yok, namı var:Pala</h3>
    <a href="/characters" class="btn">Özel Karakterler</a>
  </div>
</header>


<%- include('partials/footer'); -%>